@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


::root {
    --color1: #253237;
    --color2: #5C6B73;
    --color3: #9db4c0;
    --color4: #c2dfe3;
    --color5: #e0fbfc;
}

* {
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #5C6B73; 
}

.section-title,
.section-title:hover,
#cabecalho .nav-link:hover,
#cabecalho .nav-link,
#cabecalho .nav-link:focus,
.nav-produtos .nav-link ,
.text-white {
    color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #e0fbfc;
    color: #253237;
}

.navbar-toggler,
#reviews {
    background-color: #e0fbfc;
}

span {
    color: #e0fbfc;
}

#home {
    background-color: #5C6B73;
}

#home p {
    color: #ffeae6;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(50%);
}

#products {
    background-color: #253237;
}

.nav-produtos .nav-link.active {
    background-color: #c2dfe3;
    color: #253237;
}

.nav-produtos .nav-link:hover,
.text-colored {
    color: #5C6B73;
}

.review-card {
    background-color: #fff;
    border-radius: 14px;
    padding: 16px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.35);
}

.review-card img {
    width: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .review-card img {
        display: none;
    }
}